.header {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    height: inherit;
    width: 82%;
    margin-right: 10px;
}

.header input {
    width: 50%;
}

.searchBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    padding-left: 20px;
    margin-bottom: 10px;
}

.header p {
    margin-left: 20px;
}

.searchBox p {
    padding-right: 10px;
}

.city {
    padding-left: 20px;
}