.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 460px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 460px;
}

.resultsContainer button {
    margin-left: 17px;
    margin-bottom: 12px;
    background-color: #fff;
    border: none;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}

.resultsContainer button:active,
.resultsContainer button:focus {
    text-decoration: none;
    outline: none;
}

.resultsContainer img {
    width: 100px;
}

.resultsContainer p {
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bold;
    text-align: left;
}