.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 20%;
    background-color: white;
    color: rgb(9, 11, 43);
    float: left;
    height: inherit;
    list-style-type: none;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
    margin-left: 10px;
}

.menuItem {
  text-decoration: none;
}

@media (max-width: 730px){
    .menu {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        padding-right: 0;
        box-sizing: border-box;
        padding-left: 20px;
    }
}