.header {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    height: 100%;
    width: 82%;
    margin-right: 10px;
}

.header input {
    width: 50%;
}

.searchBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    padding-left: 20px;
    margin-bottom: 10px;
}

.header p {
    margin-left: 20px;
}

.searchBox p {
    padding-right: 10px;
}

.city {
    padding-left: 20px;
}

@media (max-width: 730px){
    .header {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 435px){
    .header {
        height: 100%;
    }

    .searchBox {
        padding-left: 0px;
    }

    .currentLocationText {
        font-size: 20px;
    }
}